body {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: sans-serif;
}

.info-bg-layer {
    width: 1100px;
    height: 204px;
    background-color: #AFD275;
    margin-top: 67px;
    margin-right: 67px;
    position: absolute;
    right: 0;
    z-index: 0;
}

.hotel-img {
    position: relative;
    z-index: 99;
}

.info-topic {
    position: relative;
    z-index: 99;
    width: 409px;
    height: 333px;
    margin-top: -329px;
    margin-left: 117px;
}

.info-topic-name {
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 14px;
}

.info-topic-title {
    color: white;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 33px;
}

.info-topic-text {
    color: #302823;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.info-topic-link {
    color: #302823;
}

.link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FE5568), color-stop(50%, #FE5568)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #302823), color-stop(50%, #302823));
    background-image: -o-linear-gradient(#FE5568 50%, #FE5568 50%), -o-linear-gradient(#302823 50%, #302823 50%);
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(#302823 50%, #302823 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 1px, 100% 1px;
    padding-bottom: 3px;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.link:hover {
    background-size: 100% 1px, 100% 1px;
    color: #E7717D;
}

.hotel-img-2 {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    width: 514px;
    height: 644px;
}

.hotel-img-1 {
    margin-top: 95px;
    margin-left: -150px;
    width: 250px;
    height: 283px;
}

.hotel-img-3 {
    left: -231px;
    top: -280px;
    width: 729px;
    height: 321px;
}

.nav-section {
    padding-top: 875px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 119px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    float: left;
}

.nav-text {
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 200px;
    width: 100%;
}

.nav-title {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    margin-bottom: 27px;
}

.nav-link {
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FE5568), color-stop(50%, #FE5568)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, white));
    background-image: -o-linear-gradient(#FE5568 50%, #FE5568 50%), -o-linear-gradient(white 50%, white 50%);
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(white 50%, white 50%);
}

.nav-section>.nav {
    padding: 0 35px 0 0;
}

.nav-section>.nav:last-child {
    padding: 0;
}

.nav-img {
    object-fit: cover;
    -o-object-fit: cover;
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    filter: brightness(40%);
    width: 275px;
    height: 550px;
}

.news-bg-layer {
    width: 1250px;
    height: 329px;
    background-color: #AFD275;
    margin-right: 67px;
    position: absolute;
    right: 0;
    z-index: 0;
}

.news-img {
    float: right;
    margin-right: 50px;
    margin-top: -46px;
    object-fit: cover;
    -o-object-fit: cover;
    margin-bottom: 58px;
    width: 617px;
    height: 412px;
}

.news-topic {
    position: relative;
    z-index: 99;
    margin-left: -70px;
    margin-top: 80px;
}

.news-topic-name {
    width: 496px;
    color: #302823;
    font-weight: 600;
    font-size: 30px;
}

.news-topic-info {
    display: flex;
    margin-top: 50px;
}

.news-topic-data {
    margin-right: 58px;
}

.news-topic-text {
    max-width: 435px;
    font-weight: 400;
    font-size: 16px;
}

.news-topic-date {
    font-weight: 600;
    font-size: 16px;
    color: #E7717D;
    white-space: nowrap;
    margin-bottom: 20px;
}

.news-topic-link {
    color: #302823;
    font-weight: 600;
}

@media (max-width: 1440px) {
    .hotel-img-3 {
        left: -150px;
        width: 640px;
    }
    .news-topic {
        margin-left: 20px;
        margin-top: 50px;
    }
}

@media (max-width: 1317px) {
    .info-topic {
        width: 535px;
    }
    .hotel-img-2 {
        width: 30%;
        height: 200%;
    }
    .hotel-img-3 {
        margin-left: 440px;
        width: 36%;
        height: auto;
        top: -88px;
    }
    .hotel-img-1 {
        margin-top: 95px;
        margin-left: 0px;
        top: 275px;
        height: 280px;
    }
    .nav-section {
        padding-top: 770px;
    }
    .news-topic {
        margin-left: 115px;
    }
    .news-topic-name {
        width: 375px;
        font-size: 25px;
    }
}

@media (max-width: 1240px) {
    .nav-img {
        width: 229px;
        height: 458px;
    }
    .news-img {
        width: 470px;
        height: 290px;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .news-topic {
        margin-left: 210px;
    }
    .nav-section {
        margin-bottom: 70px;
    }
}

@media (max-width: 1200px) {
    .hotel-img-2 {
        top: 319px;
        margin-right: 0;
    }
    .info-topic {
        width: 804px;
        display: flex;
        top: -290px;
        height: 185px;
    }
    .info-topic-data {
        margin-right: 30px;
    }
    .info-topic-title {
        width: 260px;
    }
    .info-topic-text {
        width: 600px;
        margin-bottom: 15px;
    }
    .info-bg-layer {
        margin-right: 0;
    }
    .hotel-img-3 {
        top: 0;
        margin-top: -259px;
        margin-left: 466px;
    }
    .hotel-img-2 {
        margin-right: 80px;
        margin-top: 0px;
        top: 255px;
        width: 250px;
        height: 280px;
    }
    .hotel-img-1 {
        margin-top: -20px;
    }
    .nav-section {
        padding-top: 650px;
    }
}

@media (max-width: 1120px) {
    .hotel-img-1, .hotel-img-2 {
        width: 200px;
        height: 230px;
    }
    .hotel-img-3 {
        top: -258px;
        margin-top: 0;
        width: 350px;
        margin-left: 515px;
        height: 230px;
    }
    .hotel-img-1 {
        margin-left: 140px;
    }
    .hotel-img-2 {
        margin-right: 155px;
    }
    .news-img {
        width: 375px;
        height: 238px;
        margin-top: 40px;
        margin-bottom: 120px;
    }
    .news-topic {
        margin-left: 365px;
    }
    .news-topic-data {
        margin-right: 20px;
    }
    .nav-img {
        width: 190px;
        height: 360px;
    }
    .nav-text {
        top: auto;
    }
    .nav-title {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .info-topic {
        margin-left: 200px;
    }
    .info-topic-data {
        margin-right: 0;
    }
    .info-topic-name {
        font-size: 20px;
    }
    .info-topic-title {
        font-size: 30px;
    }
    .info-topic-text {
        font-size: 14px;
    }
    .link {
        font-size: 14px;
    }
    .hotel-img-2 {
        margin-right: 100px;
    }
    .hotel-img-3 {
        margin-left: 575px;
    }
    .hotel-img-1 {
        margin-left: 200px;
    }
    .nav-section {
        padding-top: 615px;
    }
    .news-topic-name {
        font-size: 20px;
    }
    .news-topic {
        margin-left: 430px;
    }
}

@media (max-width: 930px) {
    .info-topic {
        flex-direction: column;
        top: -320px;
    }
    .info-topic {
        margin-left: 22%;
    }
    .info-topic-data {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .info-topic-data-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info-topic-name {
        font-size: 25px;
        margin-right: 20px;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 170px;
        height: 215px;
    }
    .hotel-img-3 {
        width: 320px;
        height: 215px;
        margin-left: 635px;
    }
    .hotel-img-1 {
        margin-left: 290px;
    }
    .nav-img {
        width: 150px;
        height: 270px;
    }
    .news-bg-layer {
        margin-right: 0px;
    }
    .news-img {
        width: 22%;
        height: 60%;
        margin-top: 5%;
        margin-bottom: 120px;
    }
}

@media (max-width: 840px) {
    .info-topic {
        margin-left: 26%;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 150px;
        height: 190px;
    }
    .hotel-img-3 {
        width: 270px;
        height: 190px;
        margin-left: 695px;
    }
    .hotel-img-1 {
        margin-left: 365px;
    }
    .nav-section {
        padding-top: 575px;
        margin-bottom: 60px;
    }
    .nav-img {
        width: 133px;
        height: 225px;
    }
    .nav-title {
        font-size: 14px;
    }
    .news-img {
        width: 20%;
        height: 52%;
        margin-top: 4%;
        margin-bottom: 170px;
    }
    .news-topic-date {
        font-size: 14px;
    }
    .news-topic {
        margin-left: 512px;
    }
}

@media (max-width: 767px) {
    .info-topic {
        margin-left: 30%;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 135px;
        height: 178px;
    }
    .hotel-img-3 {
        width: 240px;
        height: 178px;
        margin-left: 748px;
    }
    .hotel-img-1 {
        margin-left: 436px;
    }
    .nav-img {
        width: 114px;
        height: 205px;
    }
    .nav-title, .link {
        font-size: 12px;
    }
    .news-topic-text {
        width: 317px;
    }
    .news-topic {
        margin-left: 680px;
    }
    .news-img {
        display: none;
    }
    .news-topic-data {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .news-bg-layer {
        height: 270px;
    }
}

@media (max-width: 700px) {
    .info-topic {
        margin-left: 32%;
    }
    .hotel-img-2 {
        margin-right: 83px;
    }
    .hotel-img-3 {
        margin-left: 780px;
    }
    .hotel-img-1 {
        margin-left: 483px;
    }
    .nav-section {
        padding-top: 550px;
    }
    .news-topic {
        margin-left: 700px;
    }
}

@media (max-width: 670px) {
    .info-bg-layer {
        height: 230px;
    }
    .info-topic {
        margin-left: 35%;
    }
    .info-topic-text {
        width: 426px;
        margin-top: 10px;
    }
    .info-topic-title, .info-topic-name {
        margin-bottom: 0;
    }
    .hotel-img-3 {
        top: -65px;
        margin-left: 764px;
        width: 310px;
        height: 203px;
    }
    .hotel-img-1 {
        margin-left: 603px;
    }
    .hotel-img-2 {
        margin-right: 164px;
    }
    .nav-section {
        padding-top: 735px;
        margin-bottom: 36px;
    }
    .nav-section>.nav {
        padding: 0 15px 0 0;
    }
}

@media (max-width: 572px) {
    .info-topic {
        margin-left: 38%;
        top: -187px;
        margin-top: 0px;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 164px;
        height: 206px;
    }
    .hotel-img-3 {
        top: 0px;
        margin-top: 77px;
        margin-left: 809px;
    }
    .hotel-img-2 {
        margin-top: 0px;
        margin-right: 116px;
    }
    .hotel-img-1 {
        margin-left: 644px;
    }
    .nav-section {
        padding-top: 772px;
        margin-bottom: 36px;
    }
    .news-topic {
        margin-left: 776px;
    }
}

@media (max-width: 520px) {
    .info-bg-layer {
        margin-top: 0px;
    }
    .info-topic-name {
        font-size: 20px;
    }
    .info-topic-title {
        font-size: 25px;
    }
    .info-topic {
        margin-left: 40%;
    }
    .hotel-img-3 {
        margin-left: 835px;
    }
    .hotel-img-1 {
        margin-left: 670px;
    }
    .hotel-img-2 {
        margin-right: 93px;
    }
    .nav-img {
        width: 110px;
        height: 120px;
    }
    .nav-section {
        padding-top: 710px;
    }
    .nav-title {
        margin-bottom: 1px;
    }
    .news-topic-name {
        width: 318px;
    }
    .news-topic-info {
        margin-top: 20px;
    }
    .news-topic-date {
        font-size: 12px;
    }
    .news-topic-text {
        font-size: 14px;
    }
    .news-topic {
        margin-left: 810px;
    }
    .news-bg-layer {
        height: 210px;
    }
}

@media (max-width: 495px) {
    .info-topic-text {
        width: 338px;
    }
    .info-topic-data {
        margin-left: 60px;
    }
    .info-bg-layer {
        height: 308px;
    }
    .hotel-img-3 {
        margin-left: 847px;
        margin-top: 74px;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 154px;
        height: 197px;
    }
    .hotel-img-1 {
        margin-left: 697px;
    }
    .hotel-img-2 {
        margin-right: 92px;
    }
    .nav-section>.nav:last-child {
        padding: 8px 15px 8px 0;
    }
}

@media (max-width: 460px) {
    .info-topic {
        margin-left: 43%;
    }
    .hotel-img-3 {
        margin-left: 865px;
    }
    .hotel-img-2 {
        margin-right: 75px;
    }
    .hotel-img-1 {
        margin-left: 715px;
    }
    .nav-section {
        padding-top: 695px;
        margin-bottom: 30px;
    }
    .news-topic {
        margin-top: 30px;
    }
    .news-topic-name {
        width: 246px;
        font-size: 16px;
        margin-left: 50px;
    }
    .news-topic-info {
        flex-direction: column;
    }
    .news-topic-data {
        flex-direction: row;
        align-items: self-start;
    }
    .news-topic-text {
        width: 332px;
    }
}

@media (max-width: 415px) {
    .info-topic-data {
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }
    .info-topic {
        margin-left: 45%;
        top: -376px;
    }
    .hotel-img-3 {
        margin-top: 172px;
        margin-left: 892px;
    }
    .hotel-img-2 {
        top: 541px;
        margin-right: 126px;
    }
    .hotel-img-1 {
        margin-top: 0px;
        top: 133px;
        margin-left: 820px;
    }
    .nav-section {
        padding-top: 986px;
    }
    .news-topic {
        margin-left: 874px;
    }
    .news-topic-name {
        text-align: center;
    }
}

@media (max-width: 380px) {
    .info-topic {
        margin-left: 47%;
        top: -355px;
    }
    .info-topic-text {
        width: 253px;
        margin-top: 15px;
    }
    .info-bg-layer {
        height: 85px;
    }
    .hotel-img-3 {
        width: 250px;
        height: 172px;
        margin-top: 180px;
        margin-left: 951px;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 136px;
        height: 183px;
    }
    .hotel-img-1 {
        margin-top: 0px;
        top: 164px;
        margin-left: 850px;
    }
    .hotel-img-2 {
        top: 540px;
        margin-right: 112px;
    }
    .nav-section {
        padding-top: 930px;
        margin-bottom: 20px;
    }
    .news-topic-text {
        font-size: 12px;
    }
    .news-topic {
        margin-left: 924px;
    }
    .news-topic-name {
        margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .info-topic {
        margin-left: 49%;
        top: -472px;
    }
    .info-topic-name {
        font-size: 16px;
    }
    .info-topic-title {
        font-size: 20px;
    }
    .info-topic-text {
        margin-top: 40px;
    }
    .info-topic-text {
        margin-bottom: 10px;
    }
    .hotel-img-3 {
        width: 275px;
        height: 184px;
        margin-top: 213px;
        margin-left: 955px;
    }
    .hotel-img-1, .hotel-img-2 {
        width: 194px;
        height: 243px;
    }
    .hotel-img-1 {
        top: 122px;
        margin-left: 841px;
    }
    .hotel-img-2 {
        top: 627px;
        margin-right: 66px;
    }
    .nav-section {
        padding-top: 1095px;
        margin-bottom: 20px;
    }
    .news-topic {
        margin-left: 965px;
    }
    .news-topic-name {
        margin-left: 0px;
    }
}